*{
    font-family: sans-serif;
    margin: 0px;
    /* overflow-x: hidden; */
}
body{
    overflow-x: hidden;
}
.logotxt{
    
}
#logo:nth-child(1){
    color: #f09f28;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 800;
    margin-top: 50px;
}
a:nth-child(5){
    width: 20vw;
}
a:hover{
    color: #f09f28;
}
a:active{
    color: #f09f28;
}
#logo{
    width: 250px;
    margin-left: 2%;
}
/* .lupa:hover{
    fill: #f09f28;
    cursor: pointer;
} */
.touchButton{
    width: 11vw;
    height: 60px;
    background-color: #f09f28;
    color: white;
    font-size: 22px;
    text-align: center;
    line-height: 55px;
}
.touchButton:hover{
    background-color: #fc540c;
}
.lupaNButton{
    margin-right: 2%;
}
nav{
    height: 125px;
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 3%;
}
#lupaSvg{
    margin-top: 15px;
}
header{
    background-color: #040404;
    height: 124px;
    border-bottom: 2px solid #f09f28;
}
.firstMain{
    display: flex;
    justify-content: space-around;
    height: 124px;
    align-items: center;
}
/* .slider{
    background-image: url(man.jpg);
    height: 100vh;
    width: 100vw;
    background-position-y: -140px;
    background-repeat: no-repeat;
} */
.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.slide {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
    box-sizing: border-box;
}
.txtSlides{
    display: flex;
    flex-direction: column;
    gap: 4%;
}
.motivText{
    color: white;
    font-size: 55px;
    line-height: 140%;
    margin-left: 20%;
    margin-top: 6%;
}
.done{
    color: #f09f28;
    font-weight: 800;
}
.touchButton2{
    margin-left: 20%;
    border-bottom: 3px solid #fc540c;
    margin-top: 4%;
}
.dots{
    position: absolute;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10%;
    list-style-type: none;
    font-size: 22px;
    margin-left: 18%;
    top: 850px;
}
.mainGray{
    width: 100vw;
    height: 450px;
    background-color: #201c2c;
    display: flex;
    justify-content: center;
    gap: 2%;
}
.svgs{
    width: 10vw;
    width: 10vh;
}
.info1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    row-gap: 8%;
}
.info1 path{
    transition: fill 0.4s;
}
.info1Text{
    color: white;
    font-family: sans-serif;
    font-size: 24px;
}
.info1Lorem{
    font-size: 15px;
    font-family: sans-serif;
    color: rgba(255,255,255,0.5);
}
.info1Both{
    display: flex;
    flex-direction: column;
    line-height: 28px;
}
.checkmarks{
    background-image: url(ok.png.webp);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    border: 3px solid orange;
    border-radius: 50%;
    background-position: center;
}
.checkmarkText{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #64677c;
}
.touchButton3{
    margin-left: 0;
    margin-top: 0;
    margin-left: 17%;
}
.textMainWhite h1{
    font-size: 68px;
    font-family: 'Roboto', sans-serif;
    color: #1d1f2a;
    margin-left: 17%;
    margin-top: 8%;
}
.textMainWhite p{
    color: #64677c;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    margin-left: 17%;
}
.checkmarkText h5{
    margin-top: 8px;
}
.checkmarkTextFlex{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 17%;
}
.textMainWhite{
    display: flex;
    flex-direction: column;
    gap: 35px;
    background-color: white;
    width: 1000px;
}
#bikeImage{
    background-image: url(bike.png);
    width: 47vw;
    height: 85vh;
    background-repeat: no-repeat;
    margin-right: 0;
}
.subscriptionMain{
    display: flex;
}
.grayishFourPicture{
    background-color: #201C2C;
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 25px;
    opacity: 100%;
}
.fourPictures{
    width: 21vw;
    height: 21vw;
    background-size: cover;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}
.viewMore{
    color: white;
}
.fourPictures:hover {
    outline: 5px solid #fc540c;
    cursor: pointer;
    filter: opacity(45%);
}
  
.zoomIcon {
    display: none;
}

.fourPictures:hover .zoomIcon {
    display: block;
}

.viewMore {
    display: none;
}

.fourPictures:hover .viewMore {
    display: block;
}
.fourPictures.maximized {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 9999;
    cursor: pointer;
}
.maximizedImageContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.maximizedImage {
    max-width: 80vw;
    max-height: 80vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.maximizedImage:hover {
    cursor: pointer;
}
.testimonialsMain h1{
    color: #1d1f2a;
    font-size: 68px;
    font-family: 'Roboto', sans-serif;
}
.movFlex p{
    color: #64677c;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.profile h4:nth-child(2){
    color: #64677c;
    font-size: 16px;
}
.profile h4:nth-child(3){
    color: #ff9908;
    font-size: 16px;
}
.testimonialPhoto{
    background-image: url(test.jpg.webp);
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}
.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 35px;
    flex-shrink: 0; /* Prevents resizing of testimonials */
    width: 100%;
}
.testimonialsMain{
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 35px;
    justify-content: center;
    overflow: hidden;
}
.movFlex{
    display: flex;
    overflow: hidden; /* Hide scrollbar */
    cursor: grab; /* Change cursor to indicate draggability */
    scroll-snap-type: x mandatory;
    transition: scroll-left 1s ease-out;
}
.movFlex.grabbing {
    cursor: grabbing;
}
.plans{
    background-image: url(guyPushingTire.webp);
    width: 100vw;
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 28px;
}
.plansEach{
    width: 360px;
    height: 535px;
    background-color: white;
    border: 10px solid #ff5408;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    position: relative;
    z-index: 10;
}
.planPrice{
    font-size: 68px;
    font-family: 'Roboto', sans-serif;
    color: #ff9908;
}
.plansEach h3{
    color: #1d1f2a;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
.plansEach ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 25px;
}
.whatYouGet{
    padding-left: 0;
}
.whatYouGet li{
    color: #64677c;
    list-style-type: none;
    font-size: 15px;
}
.getItNow{
    border-bottom: 3px solid #ff5408;
    width: 195px;
    height: 58px;
}
.sectionWhole{
    position: relative;
}
.redOverlay{
    width: 100%;
    height: 100%;
    background-color: rgba(29,31,42,0.91);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

}
.orangeSubscribe{
    width: 100vw;
    height: 237px;
    background-color: #ff9908;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orangeSubscribe div{
    font-size: 68px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.orangeSubscribe div a{
    color: #1d1f2a;
}
.orangeSubscribe div a:hover{
    color: #ff5408;
}
.footerMain{
    width: 100vw;
    height: 380px;
    background-color: #100c14;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}
.footerFirstFlex p{
    color: #64677c;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
}
.socialMedias{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.footerFirstFlex{
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.oneFooterInfo h3{
    color: white;
    font-size: 18px;
}
.footerUl li{
    color: #64677c;
    font-size: 15px;
}
.oneFooterInfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footerTexts{
    display: flex;
    flex-direction: row;
    gap: 75px;
}








@media only screen and (max-width: 750px){
    nav a{
        font-size: 13px;
    }
    .touchButton{
        font-size: 15px;
    }
}